body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.dropdown {
    display: inline-block;
    background-color: aquamarine;
}

.dropdown > ul {
    max-height: 20em;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: inherit;
}

.dropdown-item {
    list-style-type: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
.dropdown-item:hover {
    background-color: burlywood;
    cursor: pointer
}