body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.dropdown {
    width: 15em;
    display: inline-block;
    background-color: #5F668C;
}

.dropdown > ul {
    width: 15em;
    max-height: 20em;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: inherit;
    border-top: solid 1px black;
}

.dropdown-item {
    list-style-type: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}
.dropdown-item:hover {
    background-color: #FA9549;
    cursor: pointer
}

.dropdown-item-selected {
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #5F668C;
}
.dropdown-item-selected:hover {
    cursor: pointer
}