body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.hidden {
    display: none;
}

.dropdown {
    width: 20em;
    display: inline-block;
    background-color: #5F668C;
}

.dropdown > ul {
    width: inherit;
    max-height: 20em;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: inherit;
    border-top: solid 1px black;
}

.dropdown-item {
    list-style-type: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
    color: white;
    height: 2em;
}
.dropdown-item:hover {
    background-color: #FA9549;
    cursor: pointer
}
.dropdown-item > img {
    height: 100%;
    float: left;
    width: 32px;
}

.dropdown-item-label {
    height: 100%;
    line-height: 2em;
    float: left;
    padding-left: 0.5em;
}

.dropdown-selected-item {
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
    background-color: #5F668C;
    height: 2em;
}
.dropdown-selected-item:hover {
    cursor: pointer
}

.dropdown-selected-item > img {
    height: 100%;
    width: 32px;
    float: left;
}

.dropdown-selected-item-label {
    height: 100%;
    line-height: 2em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    float: left;
}

.dropdown-arrow {
    float: right;
    padding-top: 0.5em;
}

.building-group {
    color: white;
    background-color: #5F668C;
    width: 100%;
    max-width: 50em;
}
.building-group-info {
    display: inline-block;
}
.building-group-info img {
    height: 4em;
}
.item-flow-table {
    display: inline-block;
}
.item-flow-table td {
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.item-flow-quantity {
    align-content: right;
}
.item-flow-table img {
    height: 3em;
}